<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'over'"
    [opened]="!(isHandset$ | async) ? 'false':'false' ">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a routerLink="/" mat-list-item>Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/" style="cursor: pointer">Code Challenge</span>
      <span style="flex:1 1 auto;"></span>

    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>